{{#internalIncludes}}
#include "{{name}}"
{{/internalIncludes}}

using namespace {{{namespace}}};

{{#_class}}
{{#methods}}
{{{implPrototype}}} {
	{{{sourceCode}}}
}

{{/methods}}
{{#staticmethods}}
{{{implPrototype}}} {
	{{{sourceCode}}}
}

{{/staticmethods}}
{{/_class}}
