#ifndef {{define}}
#define {{define}}

{{#includes}}

{{#external}}
#include <{{name}}>
{{/external}}
{{#internal}}
#include "{{name}}.hh"
{{/internal}}

{{/includes}}

namespace linphone {

	{{#_class}}
	class {{name}} {
		public:
			{{#methods}}
			{{{prototype}}}
			
			{{/methods}}
			
			{{#staticMethods}}
			{{{prototype}}}
			
			{{/staticMethods}}
			
		private:
			void *m_privPtr;
	};
	{{/_class}}

};

#endif // {{define}}
