#ifndef {{define}}
#define {{define}}

{{#includes}}
{{#external}}
#include <{{name}}>
{{/external}}
{{#internal}}
#include "{{name}}.hh"
{{/internal}}
{{/includes}}
#include "object.hh"

namespace linphone {

	{{#_class}}
	class {{name}}: Object {
		public:
			{{#methods}}
			{{{prototype}}}
			
			{{/methods}}
			{{#staticMethods}}
			{{{prototype}}}
			
			{{/staticMethods}}
	};
	{{/_class}}

};

#endif // {{define}}
