#include "coreapi/linphonecore.h"
#include "coreapi/linphonecore_utils.h"
#include "linphone.hh"

using namespace {{{namespace}}};

{{#_class}}
{{#methods}}
{{{implPrototype}}} {
	{{{sourceCode}}}
}

{{/methods}}
{{#staticmethods}}
{{{implPrototype}}} {
	{{{sourceCode}}}
}

{{/staticmethods}}
{{/_class}}
