#ifndef {{define}}
#define {{define}}

{{#includes}}
{{#external}}
#include <{{name}}>
{{/external}}
{{#internal}}
#include "{{name}}.hh"
{{/internal}}
{{/includes}}

#include "linphone/linphonecore.h"
#include "linphone/linphone_tunnel.h"
#include "linphone/linphonecore_utils.h"

namespace linphone {

	{{#priorDeclarations}}
	class {{{name}}};
	{{/priorDeclarations}}

	{{#_class}}
	class {{name}}{{#inheritFrom}}: public {{{name}}}{{/inheritFrom}} {
		public:
		{{#islistenable}}
			{{{name}}}(::belle_sip_object_t *ptr, bool takeRef=true);
		{{/islistenable}}
		{{#isnotlistenable}}
			{{{name}}}(::belle_sip_object_t *ptr, bool takeRef=true): Object(ptr, takeRef) {}
		{{/isnotlistenable}}
	
		public:
			{{#methods}}
			{{{prototype}}}
			
			{{/methods}}
			{{#staticMethods}}
			{{{prototype}}}
			
			{{/staticMethods}}
		
		{{#islistenable}}
		private:
			{{#wrapperCbs}}
			{{decl}}
			{{/wrapperCbs}}
		{{/islistenable}}
	};
	{{/_class}}

};

#endif // {{define}}
